{% extends 'home/base_visitor.html' %}
{% block title %}Register{% endblock %}
{% block register_active %}active{% endblock %}

{% block body %}
    <div class="container">
    <div class="pen-title">
        <h1 class="login-logo">New Account</h1>
        {% if error_message %}
            <i><strong>{{ error_message }}</strong></i>
        {% endif %}
    </div>
    <!-- Form Module-->
    <div class="module form-module">
        <div class="">
        </div>
        <div class="form">
            <h2>Create an account</h2>
            <form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% for field in form %}
                    <div class="form-group">
                        <div class=" col-sm-10">
                            <span class="text-danger small">{{ field.errors }}</span>
                        </div>
                        <div class="col-sm-12"><label class="control-label">{{ field.label_tag }}</label>{{ field }}</div>
                    </div>
                {% endfor %}
                <button type="submit" class="btn btn-success">Register</button>
            </form>
        </div>
        <div class="cta"> Already have an account? <a href="{% url 'home:login_user' %} ">Click here</a> to log in.</div>
        <br>
    </div>
{% endblock %}

